/* css for the index */

:root { /*VARIABLES*/
  --main-bg-color: linear-gradient(#3B52C6, #DE4D86);
  --light-text: #F3F3F3;
  --dark-text: #1D1128;
  --top-bar: #1D1128;
  --button-fx-help : #DE4D86;
  --button-music : #3B52C6;
  --button-menu : #3B52C6;
  --bottom-bar : #1D1128;
  --queue-background : #FFB365;
  --menu-item-tab: #FFB365;
  --music-catalog-background : #DE4D86;
  --menu-tab-selected : #F3F3F3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:  var(--main-bg-color);
    color:  var(--light-text);

    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 2em;
    margin: 0.3em 0;
    color:  var(--light-text);
}

button {
    border: none;
    background-color: transparent;
    color :  var(--light-text);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-text);
  border-radius: 5px;
}


#session-timer{
    text-align: center;
    font-weight: bold;
    color : var(--light-text);
    
}

#fx, #help {
    background-color: var(--button-fx-help);
    color : var(--light-text);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.musicBtn, .menuBtn {
    height: 40px;
    width: 150px;
    margin-bottom: -30px;
    border-radius: 8px 8px 0px 0px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--light-text);
}

.musicBtn{
    background-color: var(--button-music);
}

.menuBtn{
    background-color: var(--button-menu);
}

.inactiveTab {
    background-color: transparent;
}

#center-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.site-header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--top-bar);
}

#top-bar {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    padding: 0px 16px;
    position: relative;
    justify-content: space-between;
}

#fx-overlay {
    display: none;
    position: absolute;
    align-items: center;
    top: 70px;
    left: 0;
    background-color: var(--main-bg-color);
    border: 1px solid var(--button-fx-help);
    flex-direction: column;
    padding: 12px 16px;
}

#help-overlay {
    display: none;
    position: absolute;
    align-items: center;
    top: 70px;
    right: 0;
    background-color: var(--main-bg-color);
    border: 1px solid var(--button-fx-help);
    flex-direction: column;
    padding: 12px 16px;
}

#main-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    min-height: 0;
    flex: 1;
    background-color: var(--main-bg-color);
}

#bottom-bar{
    width: 100%;
    background-color: var(--bottom-bar);
    color: var(--light-text);
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 66px;
    box-sizing: border-box;
    padding: 0 12px;
    align-items: center;
}

#progress-bar {
    position: fixed;
    bottom : 66px;
    left : 0;
    width : 100%;
    height: 4px;
    background-color: var(--button-fx-help);
    z-index: 100;
}

#progress-fill {
    height: 100%;
    width: 0%;
    background-color: var(--button-music);
    transition: width 0.9s, linear;
}

#music-tab{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    justify-content: center;
    min-height: 0;
}

#music-block-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px 0px;
    text-transform: uppercase;
    color :var(--light-text);
    font-weight: bold;
}

#music-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0px 5% 0px;
    overflow: hidden;
    gap : 12px;
    min-height: 0;
    flex: 1;
}

.guest-singer {
    border-width: 2px;
    border-style: solid;
    border-color: var(--dark-text);
    color: var(--dark-text);
    border-radius: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guest-singer.white {
    color: var(--light-text);
    border-color: var(--light-text);
}

.left-hand{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    flex: 3;
    padding: 0 16px 0 0;
}
.right-hand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    flex: 1;
}

#song-time{
    font-size: 0.85em;
    color : var(--light-text);
    flex: 1;
    text-align: center;
}

#queue-block, #catalog-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#queue-block{
    background-color: var(--queue-background);
    align-items: stretch;
}

#catalog-block{
    background-color: var(--music-catalog-background);
    align-items: center;

}

.removeBtn {
    background-color:transparent;
    border: 0;
}

.removeIcon {
    height: 20px;
    border: 0;
}

.row-recs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px 16px;
    width: 90%;
}
#recs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.genre{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center;
    color: transparent;
    border-radius: 8px;
    font-weight: bold;

}

.songInQueue{
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%;
    height: 50px;
    justify-content: space-between;
    text-align: left;
    padding: 4px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--dark-text);
    color: var(--light-text);
}

.songInQueue p {
    margin : 0;
    color : var(--dark-text);
}

.songInGenre{
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%;
    height: 50px;
    justify-content: space-between;
    text-align: left;
    padding : 4px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--light-text);
    color : var(--light-text);
    gap : 6px;
}


#playPauseBtn, #nextBtn {
    background-color: transparent;
    box-shadow: 0;
}

#playBtnIcon, #nextBtnIcon {
    height: 50px;
    box-shadow: 0;
}

#songPlayingText {
    padding-left: 20px;
}

#food-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

#food-block-titles {
    display: flex;
    flex-direction: column;
    gap : 6px;
    padding-top : 8px;
    min-width: 100px;
    min-height: 56px;
}

#food-block-titles button {
    padding : 10px 14px;
    border-radius: 6px 0px 0px 6px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    min-height: 60px;
}
#food-block-cart {
    display: flex;
    flex-direction: column;
    height: 75%;
    background-color: var(--queue-background);
}

.cart-display{
    text-align: center;
    font-size: 15px;
    color: var(--dark-text);
    border-radius: 0px 6px 6px 0px;
    min-height: 60px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.cart-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.item-in-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    box-sizing: border-box;
}

#checkout-btn{
    padding : 10px 14px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    min-height: 30px;
    background-color: var(--menu-tab-selected);
    color : var(--dark-text);
}

.foodBtn{
    background-color: var(--menu-tab-selected);
    color : var(--dark-text);
}
.drinkBtn{
    background-color: var(--menu-tab-selected);
    color : var(--dark-text);
}
.appetizerBtn{
    background-color: var(--menu-tab-selected);
    color : var(--dark-text);
}
.specialBtn{
    background-color: var(--menu-tab-selected);
    color : var(--dark-text);
}
.cartBtn{
    background-color: var(--menu-tab-selected);
    color : var(--dark-text);
}

.inactiveBtn {
    background-color: var(--menu-item-tab);
    color : var(--dark-text);
}

#food-block{
    display: flex;
    flex-direction: column;
    gap : 10px;
    width: 65%;
    border-radius: 8px;
    height: 100%;
    align-items: center;
    background-color: var(--menu-tab-selected);
    overflow-y: scroll;
    padding : 12px 0px 0px 0px;
    box-sizing: border-box;
}

/* search bar css */
/* found on geeks for geeks */

#searchbar::placeholder{
    color:#333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
#searchbar {
    margin: 10px;
    padding: 8px 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    color:var(--dark-text);
    background-color: var(--light-text);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 6px;
    width : 100%;
    box-sizing: border-box;
}

#clear-btn {
    background: none;
    border: none;
    font-size: 14px;
    color: gray;
    padding: 4px;
    font: bold;
}



/* food menu  */

.menu-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 12px;
}

.menuItemCard {
    background: var(--menu-item-tab);
    color: var(--light-text);
    border-radius: 12px;
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.menuItemImg {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background: white;
    border-radius: 8px;
}

.menuItemInfo {
    flex: 1;
}

.menuItemName {
    font-weight: bold;
    margin: 0;
    font-size: 24px;
}

.menuItemIngredients {
    font-size: smaller;
    white-space: pre-line;
    margin: 0;
}

.menuItemBottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menuItemQty {
    display: flex;
    align-items: center;
    gap: 6px;
}

#bottomBarBtns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    flex: 1;
}

#current-singer{
    width:30px;
    height:30px;
}
#currentSong{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    /* text-align: ; */
    gap: 12px;
    flex: 1;
}

.currrent-song{
    font-size: 1.05em;
    color : var(--light-text);
}

.current-artist{
    font-size: 0.65em;
    color : var(--light-text);
}

.more{
    font-size: 1.55em;
    font-weight: bold;
    color : var(--light-text);
}